Repository deanosaurx/project-int: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Frontend Image, Build Backend Image

Jenkinsfile:

@Library('devops') _

pipeline {
    agent {
        docker {
            image 'deanosaurx/jenkins-agent:latest'
            args '--user root -v /var/run/docker.sock:/var/run/docker.sock'
        }
    }
    options {
        timestamps()
        buildDiscarder(logRotator(numToKeepStr: '30'))
        disableConcurrentBuilds()
        timeout(time: 10, unit: 'MINUTES')
    }

    environment {
        DOCKER_REGISTRY = "deanosaurx"
        FRONTEND_IMAGE_NAME = "frontend"
        BACKEND_IMAGE_NAME = "backend"
        IMAGE_TAG = "${env.BUILD_NUMBER}"
    }

    stages {
        stage('Build Frontend Image') {
            when {
                changeset "app/frontend/**"
            }
            steps {
                withCredentials([usernamePassword(credentialsId: 'DOCKER_HUB', passwordVariable: 'DOCKER_HUB_PASSWORD', usernameVariable: 'DOCKER_HUB_USERNAME')]) {
                sh "docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD"
                }
                buildFrontendImage()
            }
        }

        stage('Build Backend Image') {
            when {
                changeset "app/backend/**"
            }
            steps {
                withCredentials([usernamePassword(credentialsId: 'DOCKER_HUB', passwordVariable: 'DOCKER_HUB_PASSWORD', usernameVariable: 'DOCKER_HUB_USERNAME')]) {
                sh "docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD"
                }
                buildBackendImage()
            }
        }

        stage('Clean up Docker images') {
            steps {
                sh 'docker image prune -af'
            }
            post {
                always {
                    sh 'docker image prune -af'
                }
            }
        }
      }
    }

Added cicd image
  README.md
  app/images/CICD-pipeline.png
Due: none

changed the helm chart values to reflect tags
  README.md
  charts/helm-mernapp/values.yaml
Due: none

Fixed docker build
  app/backend/index.js
  app/frontend/src/index.js
  vars/buildFrontendImage.groovy
Due: Build Frontend Image, Build Backend Image

Added correct tag values
  charts/helm-mernapp/values.yaml
Due: none

Checking argocd image updater
  app/backend/index.js
  app/frontend/src/index.js
  application.yaml
Due: Build Frontend Image, Build Backend Image

checking argo image updater again
  app/frontend/src/index.js
Due: Build Frontend Image

build: automatic update of todo-app
  charts/helm-mernapp/.argocd-source-todo-app.yaml
Due: none

updated images
  charts/helm-mernapp/values.yaml
Due: none

Finished
  README.md
  app/images/argocd_image_updater.png
  infra/image updater/application.yaml
Due: none

Added finishing touches
  README.md
Due: none

trying something
  charts/helm-mernapp/.argocd-source-todo-app.yaml
Due: none

last update?
  charts/helm-mernapp/templates/1-namespace.yaml
  charts/helm-mernapp/templates/2-sercret.yaml
  charts/helm-mernapp/templates/3-backend-service.yaml
  charts/helm-mernapp/templates/4-frontend-service.yaml
  charts/helm-mernapp/templates/5-backend-deployment.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
  charts/helm-mernapp/templates/7-ingress.yaml
  charts/helm-mernapp/values.yaml
Due: none

trying something
  charts/helm-mernapp/values.yaml
Due: none

trying again
  app/backend/index.js
  charts/helm-mernapp/templates/5-backend-deployment.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
  charts/helm-mernapp/values.yaml
Due: Build Backend Image

revert changes
  charts/helm-mernapp/templates/5-backend-deployment.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
  charts/helm-mernapp/values.yaml
Due: none

updating the frontend
  app/backend/index.js
Due: Build Backend Image

Finishing touches
  app/backend/index.js
  app/frontend/src/index.js
  infra/image updater/application.yaml
Due: Build Frontend Image, Build Backend Image

updating the images in the values file
  charts/helm-mernapp/values.yaml
  infra/image updater/application.yaml
Due: none

Adding replicas
  charts/helm-mernapp/templates/5-backend-deployment.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
Due: none

Maybe 5 replicas will work
  charts/helm-mernapp/templates/5-backend-deployment.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
Due: none

Trying something new
  charts/helm-mernapp/templates/5-backend-deployment.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
  charts/helm-mernapp/values.yaml
Due: none

Changing the values to params
  charts/helm-mernapp/values.yaml
Due: none

more changes
  charts/helm-mernapp/templates/3-backend-service.yaml
  charts/helm-mernapp/templates/4-frontend-service.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
Due: none

changed the values file again
  charts/helm-mernapp/templates/3-backend-service.yaml
  charts/helm-mernapp/templates/4-frontend-service.yaml
  charts/helm-mernapp/templates/5-backend-deployment.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
  charts/helm-mernapp/values.yaml
Due: none

fixed yaml typo
  charts/helm-mernapp/values.yaml
Due: none

maybe now
  charts/helm-mernapp/values.yaml
Due: none

trying to fix the values?
  charts/helm-mernapp/values.yaml
Due: none

finally fixed this
  charts/helm-mernapp/templates/5-backend-deployment.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
  charts/helm-mernapp/values.yaml
Due: none

fixed the chart
  charts/helm-mernapp/.argocd-source-todo-app.yaml
  charts/helm-mernapp/templates/5-backend-deployment.yaml
Due: none

checking argocd image updater again
  app/backend/index.js
  app/frontend/src/index.js
Due: Build Frontend Image, Build Backend Image

changed my values.yaml file
  charts/helm-mernapp/old.values.yaml
  charts/helm-mernapp/templates/3-backend-service.yaml
  charts/helm-mernapp/templates/4-frontend-service.yaml
  charts/helm-mernapp/templates/5-backend-deployment.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
  charts/helm-mernapp/values.yaml
Due: none

fixed some stuff
  charts/helm-mernapp/templates/3-backend-service.yaml
  charts/helm-mernapp/templates/4-frontend-service.yaml
  charts/helm-mernapp/templates/5-backend-deployment.yaml
  charts/helm-mernapp/templates/6-frontend-deployment.yaml
Due: none

deleted argocd image updater commit
  charts/helm-mernapp/.argocd-source-todo-app.yaml
Due: none
