Repository deanosaurx/project-int: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Frontend Image, Build Backend Image

Build Frontend Image:
              steps {
                  withCredentials([usernamePassword(credentialsId: 'DOCKER_HUB', passwordVariable: 'DOCKER_HUB_PASSWORD', usernameVariable: 'DOCKER_HUB_USERNAME')]) {
                  sh "docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD"
                  }
  ...

Build Backend Image:
              steps {
                  withCredentials([usernamePassword(credentialsId: 'DOCKER_HUB', passwordVariable: 'DOCKER_HUB_PASSWORD', usernameVariable: 'DOCKER_HUB_USERNAME')]) {
                  sh "docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD"
                  }
  ...

build: automatic update of todo-app
  charts/helm-mernapp/.argocd-source-todo-app.yaml
Due: none

checking image updater?
  app/frontend/src/index.js
  infra/image updater/application.yaml
Due: Build Frontend Image

Testing something with image updater
  app/backend/index.js
  infra/image updater/application.yaml
Due: Build Backend Image

changed frontend
  app/frontend/src/index.js
  charts/helm-mernapp/.argocd-source-todo-app.yaml
Due: Build Frontend Image

checking updates
  app/frontend/src/index.js
  charts/helm-mernapp/.argocd-source-todo-app.yaml
Due: Build Frontend Image

added annotations to the argocd application manifest
  app/frontend/src/index.js
  infra/image updater/application.yaml
Due: Build Frontend Image

fixed annotations again
  app/frontend/src/index.js
  charts/helm-mernapp/.argocd-source-todo-app.yaml
  infra/image updater/application.yaml
Due: Build Frontend Image

still trying
  app/backend/index.js
  charts/helm-mernapp/.argocd-source-todo-app.yaml
  infra/image updater/application.yaml
Due: Build Backend Image

changed annotations again
  app/backend/index.js
  infra/image updater/application.yaml
Due: Build Backend Image

testing again
  app/backend/index.js
  infra/image updater/application.yaml
Due: Build Backend Image

Add Flux v2.0.0-rc.3 component manifests
  infra/fluxcd/flux-system/gotk-components.yaml
Due: none

deleted fluxcd files
  infra/fluxcd/application/application.yaml
  infra/fluxcd/flux-system/gotk-components.yaml
Due: none

made some changes
  app/backend/Jenkinsfile
  app/frontend/Jenkinsfile
  infra/image updater/application.yaml
  infra/jenkins/3-deployment.old
  infra/jenkins/4-service.old
  infra/jenkins/5-volume.old
  infra/terraform/7-nodes.tf
Due: Build Frontend Image, Build Backend Image

updating frontend
  app/frontend/src/index.js
Due: Build Frontend Image

changing some stuff
  Jenkinsfile
  app/frontend/src/index.js
Due: Build Frontend Image

testing new pipeline
  app/frontend/src/index.js
Due: Build Frontend Image

testing
  charts/helm-mernapp/.argocd-source-todo-app.yaml
Due: none

testing backend pipeline
  app/backend/index.js
Due: Build Backend Image

added jenkinsfile
  Jenkinsfile
Due: none

testing backend pipeline again
  app/backend/index.js
Due: Build Backend Image

last test
  app/backend/index.js
Due: Build Backend Image

changing app versioning
  app/backend/Jenkinsfile
  app/backend/index.js
  app/frontend/Jenkinsfile
  vars/buildBackendImage.groovy
  vars/buildFrontendImage.groovy
Due: Build Frontend Image, Build Backend Image

changing versioning
  app/backend/Jenkinsfile
  app/frontend/Jenkinsfile
  app/frontend/src/index.js
Due: Build Frontend Image, Build Backend Image

trying something
  Jenkinsfile
  app/backend/Jenkinsfile
  app/frontend/Jenkinsfile
  infra/image updater/application.yaml
  vars/buildBackendImage.groovy
  vars/buildFrontendImage.groovy
Due: Build Frontend Image, Build Backend Image

testing kub agent
  Jenkinsfile
Due: none

more tests
  Jenkinsfile
Due: none

checking something
  Jenkinsfile
Due: none

fixed typo
  Jenkinsfile
Due: none

Path conditions:
  Build Frontend Image: any of: app/frontend/**
  Build Backend Image: any of: app/backend/**
